* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 7rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo .logo-text {
  font-size: 20px;
  color: #084eb7;
  font-weight: 800;
}
.links ul {
  display: flex;
  gap: 35px;
}
.links ul li {
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(38, 38, 38);
}
nav .signin-btn {
  font-size: 20px;
  color: #084eb7;
  background-color: #fff;
  border: 1px solid #084eb7;
  padding: 10px 18px;
}
nav .signup-btn {
  font-size: 20px;
  color: #fff;
  background-color: #084eb7;
  border: 1px solid #084eb7;
  padding: 10px 18px;
  margin-left: 2rem;
}
nav .hambuger-btn {
  position: relative;
  display: none;
  width: 2rem;
  transition: 0.6s;
}
nav .hambuger-btn span {
  height: 3px;
  display: block;
  margin-bottom: 5px;
  background-color: #084eb7;
  border: 1px solid #084eb7;
}
nav .drop-down-links {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}
nav .drop-down-links .container button {
  background-color: white;
  font: 22px;
  border: none;
  color: #084eb7;
}

/* hambuger links */
.mobile-links {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(210, 215, 223, 0.9);
  top: 0;
  left: 0;
  color: #084eb7;
  font-size: 32px;
}
.mobile-links .back-btn {
  cursor: pointer;
}
.mobile-links button {
  background: transparent;
  outline: none;
  border: none;
  color: #084eb7;
  margin-bottom: 15px;
  width: fit-content;
  padding: auto;
}
.mobile-links .container {
  width: fit-content;
  margin: auto;
  text-align: center;
}
.mobile-links li {
  list-style: none;
  margin-bottom: 15px;
}
.mobile-links a {
  color: #535151;
  text-decoration: none;
  margin-bottom: 15px;
}

.section-one .wrapper {
  display: flex;
  padding: 7rem;
}
.section-one .wrapper .text-search-wrapper {
  width: 60%;
  /* border: 2px solid red; */
}
.section-one .wrapper .image-area {
  max-width: 3000px;
  /* border: 2px solid teal; */
}
.section-one .wrapper .image-area .main-img {
  /* border: 2px solid red; */
  width: 100%;
}
.section-one .wrapper .image-area .min-images {
  width: fit-content;
  margin: auto;
  margin-top: -5rem;
}

.section-one h1 {
  font-size: 64px;
  width: fit-content;
  color: #292929;
  margin-top: 5rem;
  padding-right: 2rem;
  letter-spacing: 1px;
  line-height: 5rem;
}
.section-one p {
  font-size: 22px;
  color: #535151;
  margin: 5rem 0rem;
  letter-spacing: 1px;
  line-height: 26px;
  max-width: 700px;
}
.section-one .search-box {
  display: flex;
  align-items: center;
  height: 4rem;
}
.get-started-btn {
  height: 100%;
  background-color: #084eb7;
  border: 1px solid #084eb7;
  color: #fff;
  padding: 1.5rem 1rem;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.section-one .search-box .search-fam {
  flex: 1;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  border: 1px solid none;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
}
.section-one .search-box input {
  /* height: 100%; */
  border: none;
  font-size: 18px;
  outline: none;
  margin-left: 15px;
  width: 100%;
}

.section-two {
}
.section-two .wrapper .text-head {
  width: 60%;
  text-align: center;
  margin: auto;
  /* border: 2px solid magenta; */
}
.section-two .wrapper .text-head h1 {
  font-size: 64px;
}
.section-two .card-container {
  padding: 2rem 7rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  width: fit-content;
  margin: auto;
  /* border: 2px solid magenta; */
}
/* .section-two .card-container .cards:nth-child(2) {
  position: relative;
  margin-left: 20%;
} */
.section-two .cards {
  display: block;
}
.section-two #card-left {
  /* border: 2px solid moccasin; */
  position: relative;
  top: 0;
  left: 150px;
  transition: 0.6s;
}
.section-two #card-right {
  /* border: 2px solid moccasin; */
  position: relative;
  top: 0;
  right: 150px;
  transition: 0.6s;
}
.section-two .cards .wrapper {
  max-width: 1002px;
  padding: 3rem;
  gap: 4rem;
  align-items: center;
  display: flex;
  height: 350px;
  background: #e8f0ff;
  border-radius: 10px;
  transition: 0.6s;
}
.section-two .cards .wrapper .img-area {
  width: 500px;
  aspect-ratio: 16/11;
}
.section-two .cards .wrapper h1 {
  font-size: 36px;
  text-align: left;
  font-family: Mulish;
}
.section-two .cards .wrapper p {
  font-size: 18px;
  text-align: left;
  margin: 2rem 0;
}

.section-three {
  background: #000;
  color: white;
}
.section-three .wrapper {
  display: flex;
  align-items: center;
  padding: 4rem;
}
.section-three .wrapper .text-area {
  flex: 1;
}
.section-three .wrapper .img-area {
  flex: 1;
}
.section-three .wrapper .text-area h1 {
  font-size: 64px;
}
.section-three .wrapper .text-area p {
  font-size: 20px;
  width: 80%;
  margin: 3rem 0px;
  line-height: 30px;
}

.section-four .wrapper .container {
  display: flex;
  margin: 6rem 0;
}
.section-four .wrapper .text-area {
  position: relative;
  flex: 4;
  border: 2px solid gray;
  border: none;
  margin-left: 5rem;
  padding: 1rem;
}
.section-four .wrapper .text-area #vector-up {
  position: absolute;
  top: 0;
  left: 0;
}
.section-four .wrapper .text-area #vector-down {
  position: absolute;
  bottom: 7rem;
  right: 2rem;
}
.section-four .wrapper .text-area h1 {
  font-size: 60px;
  margin-bottom: 3rem;
}
.section-four .wrapper .container .img-area {
  flex: 5;
  font-size: 46px;
  border: none;
  display: flex;
  font-weight: 100;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  border-radius: 15px 0px 0 15px;
  background: linear-gradient(101.09deg, #a1b6d7 29.95%, #c9a1d7 100%);
}
footer {
  background: #000;
  font-size: 20px;
}
footer .container {
  display: flex;
  color: rgb(117, 115, 115);

  padding: 2rem 5rem;
}
footer .logo {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  line-height: 30px;
}
footer li {
  margin-bottom: 15px;
}
footer h2 {
  color: white;
  margin-bottom: 15px;
}

footer .container .column-one {
  flex: 1;
  text-align: left;
}
footer .container .column-one h1 {
  margin-bottom: 0px;
  border: 2px solid red;
}
footer .container .column-two {
  flex: 1;
}
footer .container .column-three {
  flex: 1;
}
footer .container .column-four {
  flex: 1;
}
footer .extra-info {
  border-top: #fff;
  padding-top: 3rem;
  color: white;
}
@media (max-width: 1300px) {
  .section-one .wrapper {
    display: block;
    padding: 5rem;
    gap: 3rem;
  }
  .section-one .wrapper {
    width: 100%;
    align-items: center;
  }
  .section-one .wrapper .text-search-wrapper {
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
  }
  .section-one h1 {
    width: 100%;
    margin-top: 0rem;
    padding: 0rem;
  }
  .section-one p {
    width: 100%;
    margin: 5rem auto;
  }

  .section-two .card-container .cards:nth-child(2) {
    margin-left: 0%;
  }
  .section-two #card-left {
    /* border: 2px solid moccasin; */
    position: relative;
    top: 0;
    left: 0;
  }
  .section-two #card-right {
    /* border: 2px solid moccasin; */
    position: relative;
    top: 0;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .links ul {
    display: none;
    gap: 35px;
  }
  nav .signin-btn {
    display: none;
  }
  nav .signup-btn {
    display: none;
  }
  .section-one .wrapper .image-area {
    margin-top: 2rem;
    /* border: 2px solid teal; */
  }
  nav .hambuger-btn {
    display: block;
  }
  .section-two .cards .wrapper {
    width: fit-content;
    padding: 3rem;
    gap: 4rem;
    align-items: center;
    display: block;
    height: fit-content;
    background: #e8f0ff;
    border-radius: 10px;
  }

  .section-three .wrapper {
    flex-direction: column-reverse;
  }
  .section-four .wrapper .container {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
  }
  .links ul {
    display: none;
    gap: 35px;
  }
  .section-one .search-box {
    display: block;
    align-items: center;
    width: 90%;
  }
  .section-one h1 {
    font-size: 38px;
    margin-top: 0rem;
    padding: 0rem;
    letter-spacing: 1px;
    line-height: normal;
  }
  .section-one p {
    margin: 2rem auto;
  }
  .section-one .search-box button {
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
  }
  .section-one .search-box .search-fam {
    width: 80%;
    margin: auto;
  }
  .section-one .wrapper .image-area {
    margin-top: 7.5rem;
    /* border: 2px solid teal; */
  }
  .section-two {
    width: 100%;
  }
  .section-two .cards {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .section-two .wrapper .text-head h1 {
    font-size: 38px;
  }
  .section-two .card-container {
    padding: 1rem;
  }
  .section-two .cards .wrapper {
    width: fit-content;
    padding: 3rem;
    gap: 4rem;
    align-items: center;
    display: block;
    height: fit-content;
    background: #e8f0ff;
    border-radius: 10px;
  }
  .section-two .cards .wrapper .img-area {
    width: 100%;
    aspect-ratio: 16/11;
  }
  .section-two .cards .wrapper .img-area img {
    width: 100%;
  }
  .section-three .wrapper .text-area h1 {
    font-size: 32px;
  }
  .section-four .wrapper .text-area h1 {
    font-size: 30px;
    margin-bottom: 1rem;
  }

  .section-three .wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .section-four .wrapper .text-area {
    margin-left: 0rem;
    padding: 1rem;
  }

  footer .container {
    flex-direction: column;
  }
}
